* {
    
}
body{
    margin:0;
}
nav{
    display:flex;
    justify-content: space-between;
    background-color: rgb(121, 121, 121);
    position: relative;
    padding:5px;
    height:3em;
}   

footer{
    display:flex;
    justify-content:space-between ; 
    background-color: rgb(121, 121, 121);
    height:5em;
    
}  

nav ul {
    display:flex;
    list-style-type: none;
    margin: auto 0;
    padding: 0;
    overflow: hidden;
}
  
li a {
    display: flex;
    color: white;
    text-align: center;    
    padding: 14px;
    text-decoration: none;
}

#fullLogo { 
    display: flex;   
    justify-content: flex-start;
    width: 12%;
    padding-left: 0.3em;
       
}
.sociallogos{
    display:flex;
    justify-content:center; 
    background-color: rgb(121, 121, 121);
    height:5em;
    margin: auto;
}
.sociallogo{
    display:flex; 
    position: relative; 
    height: 2em;
}
#logo{
    display:flex;
    justify-content:flex-start ;
}