* {
    margin:0;
    line-height: 1.4;
    font-family: "Lato", Arial, Helvetica;
    max-width: 1300px;
}

/*------header, navbar--------*/

nav{
    display:flex;
    justify-content: space-between;
    background-color: rgb(106, 123, 139);
    position: relative;
    padding:5px;
    height:3em;
}  
      
nav ul {
    display:flex;
    list-style-type: none;
    margin: auto 0;
    padding: 0;
    overflow: hidden;
}
  
li a {
    display: flex;
    color: white;
    text-align: center;    
    padding: 14px;
    text-decoration: none;
}

#fullLogo { 
    display: flex;   
    justify-content: flex-start;
    width: 110px;
    padding:0.2em 0.3em;       
}
@media only screen and (max-width:760px){
    #fullLogo{
        width:80px;
        height:30px;
        margin:auto 0;
    }
    li a{
        padding:1em;
        font-size: small;
    }
}

/*------logo under navbar----------*/

.top-logo{
    display:block;
    height:7em;
    margin:1em auto;
}
/*--------footer---------*/

footer{
    position:relative;     
    background-color: rgb(106, 123, 139);
    height:5em;
    width: 100%;
}
.sociallogos{
    white-space: nowrap;    /*keeps text from breaking*/
    text-align: center;
    color:white;           /*text color*/
    width:25%;
    position:absolute;    
    margin: 0 auto;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size: small;
    
}
.sociallogos img{
    margin:0.2em;
}
.sociallogo{
    display:flex; 
    justify-content: space-evenly; 
    height: 1.5em;
    margin:5px auto;
    width:60%;
    
}
.footerlogo{
    position:absolute;    
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    width:2.2em;
    height:3em;    
}
@media only screen and (max-width:760px){
    #footer-text{
        position:relative;
        
        margin:auto -3.5em;
    }
}


/*----------HOMEPAGE-----------*/

.index-central{    
    display:block;
    width:85%;
    margin:0 auto;
}
.picture-text{
    display: block;    
}
.index-img{
    display:block;
    width:100%;
}
#txt-over-img{
    color:white;  
    position:absolute;
    top:30%;
    left:50%;
    transform:translate(-50%, -50%);
}
#chez{
    padding:2em;
}
.cards{
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-between;
     
    width:100%; 
          
}
.card {
    flex-flow: column wrap;    
    display: flex;
    background-color: #bbc2c9;
    color: #fff;
    width: 32%;    
    align-items: center;
    font-size: 0.5em;
    text-align: center;    
}
.card img {
    max-width: 30%;
    margin:4em auto 2em;
}
.card p{
    padding:2.5em;
    font-weight: bold;
    font-size:1.2em;
}
.card h6{
    font-size: 2em;
}
button{
    display: block;
    border:none;
    margin:4em auto 4em;
    height:4em;
    width:16em;
    border-radius: 0.6rem;
    font-weight: bold;
    color:white;
    background-color: rgb(106, 123, 139);
}
.open{
    display:flex;
    height:4em;
    align-items: center; 
    margin:3em 0 3em;
    
}
.open img{
    position:relative;
    height:4em;
    padding-right: 2em;    
}
.index-columns{
    display:flex;
    justify-content: space-between;
    margin-bottom: 5em;
}
.index-column{
    display:flex;
    flex-flow: column wrap;
    text-align: center;
    width:40%; 
    
}
.center{
    text-align: center;
}
.rendez-vous{
    margin:3em 0 3em;
    
}
.bold{
    font-weight:bold;
}

@media only screen and (max-width:760px) {
.cards{
    
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    /*background-color:darkblue;*/
}
.card{
    width:80%;
    margin:1em;
}   
}
@media only screen and (max-width:600px){
#txt-over-img{
    transform:translate(-50%, 10%);
}
}
/*-----------ABOUT------------*/

.top-part, .bottom-part{
    display: flex;
    align-items: center;
    gap:10%;
    width:80%;
    margin:auto;        
}
.text-left, .text-right{
    width: 60%;
    line-height: 1.4;
}
.img-right, .img-left{    
    width:40%;
}

.bottom-part{
    margin-top: 4em;
    margin-bottom: 4em;

}
@media only screen and (max-width:760px) {
    .top-part, .bottom-part{
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;    
    }    
}

/*----------CONTACT-----------*/

.contact-central{
    display:block;
    
    margin: 0 auto;
    width:50%;
}
.map{
    display:block;
    height:60%;
    width:85%;
    margin:3em 0 2em;
}
h2{
    text-align: center;
}